<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Wrong Email (User Name) or Don't have an Account!</h1>
    <p class="secret-text">Click login to enter correct email or click register to create an account.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
  </div>
</div>

<%- include('partials/footer') %>